<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702781374001-vcv85g5edalqnr2ic3rk1sdhpdm3r5h4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702781374001-vcv85g5edalqnr2ic3rk1sdhpdm3r5h4</string>
	<key>API_KEY</key>
	<string>AIzaSyAOTl0oM1agWQQTRLYiH5YpVUNs9wrZ7vc</string>
	<key>GCM_SENDER_ID</key>
	<string>702781374001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cacao.dao.heroics</string>
	<key>PROJECT_ID</key>
	<string>dnd5-charactersheet</string>
	<key>STORAGE_BUCKET</key>
	<string>dnd5-charactersheet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702781374001:ios:04f2f0f7d67adf2e3d5f10</string>
	<key>DATABASE_URL</key>
	<string>https://dnd5-charactersheet-default-rtdb.firebaseio.com</string>
</dict>
</plist>